body{
  font-family: 'Montserrat', sans-serif;
  background-color: #D6EFFF;
}

#mapid {
  align-items: center;
  height: 350px;
  width: 75%
}

.first-page{
  text-align: center;
  margin-top: 100px;
}

.header {
background: #0050AA;
padding-top:.5em;
border-top: solid 2px white;
border-bottom: solid 2px white;
height: 50px;
width: 100%;
}


.nav ul li {
display:inline-block;
float: left;
text-decoration:none;
color: white;
display: block;
font-weight: bold;
padding-left: 10px;
}

.nav ul li:hover{
background:white;
color:  black;
}

#helps-links{
  margin-top: 200px;
  color: black;
  text-align: center;

}

a{
  margin-top: 100px;
  margin-left: 20px;
}


#cancer-result{
  text-align: center;
}


#commentbox{
  height: 150px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#button-submission{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
